.port-landscape02:hover, .port-landscape03:hover, .port-landscape04:hover, .port-landscape05:hover, .port-landscape06:hover, .port-landscape07:hover, .port-landscape08:hover, .port-landscape09:hover, .port-landscape10:hover, .port-landscape11:hover, .port-landscape12:hover, .port-landscape13:hover, .port-landscape15:hover, .port-landscape21:hover, .port-landscape24:hover, .port-landscape25:hover, .port-landscape26:hover, .port-landscape27:hover, .port-landscape28:hover, .port-landscape29:hover, .port-landscape30:hover, .port-landscape31:hover, .port-landscape32:hover, .port-landscape33:hover, .port-landscape34:hover, .port-landscape35:hover, .port-landscape36:hover, .port-landscape37:hover {
    background-size: 202%!important;
}
.port-landscape01 {
    background: url(../images/landscape/landscape-port01.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape02 {
    background: url(../images/landscape/landscape-port37.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape03 {
    background: url(../images/landscape/landscape-port38.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape04 {
    background: url(../images/landscape/landscape-port39.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape05 {
    background: url(../images/landscape/landscape-port40.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape06 {
    background: url(../images/landscape/landscape-port41.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape07 {
    background: url(../images/landscape/landscape-port42.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape08 {
    background: url(../images/landscape/landscape-port30.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape09 {
    background: url(../images/landscape/landscape-port31.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape10 {
    background: url(../images/landscape/landscape-port32.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape11 {
    background: url(../images/landscape/landscape-port34.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape12 {
    background: url(../images/landscape/landscape-port35.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape13 {
    background: url(../images/landscape/landscape-port43.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape14 {
    background: url(../images/landscape/landscape-port14.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape15 {
    background: url(../images/landscape/landscape-port44.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape16 {
    background: url(../images/landscape/landscape-port16.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape17 {
    background: url(../images/landscape/landscape-port08.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape18 {
    background: url(../images/landscape/landscape-port09.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape19 {
    background: url(../images/landscape/landscape-port10.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape20 {
    background: url(../images/landscape/landscape-port11.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape21 {
    background: url(../images/landscape/landscape-port45.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape22 {
    background: url(../images/landscape/landscape-port20.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape23 {
    background: url(../images/landscape/landscape-port21.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape24 {
    background: url(../images/landscape/landscape-port46.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape25 {
    background: url(../images/landscape/landscape-port23.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape26 {
    background: url(../images/landscape/landscape-port24.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape27 {
    background: url(../images/landscape/landscape-port25.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape28 {
    background: url(../images/landscape/landscape-port26.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape29 {
    background: url(../images/landscape/landscape-port27.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape30 {
    background: url(../images/landscape/landscape-port28.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape31 {
    background: url(../images/landscape/landscape-port29.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape32 {
    background: url(../images/landscape/landscape-port36.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape33 {
    background: url(../images/landscape/landscape-port33.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape34 {
    background: url(../images/landscape/landscape-port01.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape35 {
    background: url(../images/landscape/landscape-port02.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape36 {
    background: url(../images/landscape/landscape-port03.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.port-landscape37 {
    background: url(../images/landscape/landscape-port04.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box1 {
    background: url(../images/featured/featured01-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box2 {
    background: url(../images/featured/featured02-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box3 {
    background: url(../images/featured/featured03-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box4 {
    background: url(../images/featured/featured04-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box5 {
    background: url(../images/featured/featured05-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box6 {
    background: url(../images/featured/featured06-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box7 {
    background: url(../images/featured/featured07-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box8 {
    background: url(../images/featured/featured08-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box9 {
    background: url(../images/featured/featured09-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box10 {
    background: url(../images/featured/featured10-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box11 {
    background: url(../images/featured/featured11-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box12 {
    background: url(../images/featured/featured12-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box13 {
    background: url(../images/featured/featured13-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box14 {
    background: url(../images/featured/featured14-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box15 {
    background: url(../images/featured/featured15-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box16 {
    background: url(../images/featured/featured16-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box17 {
    background: url(../images/featured/featured17-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box18 {
    background: url(../images/featured/featured18-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box19 {
    background: url(../images/featured/featured19-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box20 {
    background: url(../images/featured/featured20-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box21 {
    background: url(../images/featured/featured21-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.fp-box22 {
    background: url(../images/featured/featured22-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-box1 {
    background: url(../images/landscape20-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-box2 {
    background: url(../images/landscape30-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-box3 {
    background: url(../images/landscape29-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-box4 {
    background: url(../images/landscape27-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port14:hover, .hardscape-port15:hover, .hardscape-port16:hover, .hardscape-port17:hover, .hardscape-port18:hover, .hardscape-port19:hover, .hardscape-port20:hover, .hardscape-port21:hover, .hardscape-port22:hover, .hardscape-port23:hover, .hardscape-port24:hover, .hardscape-port25:hover, .hardscape-port26:hover, .hardscape-port27:hover, .hardscape-port28:hover, .hardscape-port29:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port01 {
    background: url(../images/hardscape09-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port02 {
    background: url(../images/hardscape11-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port03 {
    background: url(../images/hardscape15-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port04 {
    background: url(../images/hardscape16-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port05 {
    background: url(../images/hardscape05.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port06 {
    background: url(../images/hardscape01.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port07 {
    background: url(../images/hardscape02.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port08 {
    background: url(../images/hardscape03.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port09 {
    background: url(../images/hardscape06-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port10 {
    background: url(../images/hardscape07-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port11 {
    background: url(../images/hardscape03-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port12 {
    background: url(../images/hardscape05-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port13 {
    background: url(../images/hardscape02-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port13a {
    background: url(../images/hardscape/hardscape01.jpg) center;
    background-size: 162%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port13a:hover {
    background-size: 185%!important;
}
.hardscape-port13b {
    background: url(../images/hardscape/hardscape02.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port14 {
    background: url(../images/concrete/concrete02.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port15 {
    background: url(../images/concrete/concrete21.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port16 {
    background: url(../images/concrete/concrete04.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port17 {
    background: url(../images/concrete/concrete05.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port18 {
    background: url(../images/concrete/concrete06.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port19 {
    background: url(../images/concrete/concrete20.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port20 {
    background: url(../images/concrete/concrete08.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port21 {
    background: url(../images/concrete/concrete09.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port22 {
    background: url(../images/concrete/concrete10.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port23 {
    background: url(../images/concrete/concrete11.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port24 {
    background: url(../images/concrete/concrete12.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port25 {
    background: url(../images/concrete/concrete13.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port26 {
    background: url(../images/concrete/concrete18.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port27 {
    background: url(../images/concrete/concrete15.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port28 {
    background: url(../images/concrete/concrete16.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-port29 {
    background: url(../images/concrete/concrete19.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}

.tree_service_01_full,.tree-thumb01, .tree-thumb02, .tree-thumb03, .tree-thumb04, .tree-thumb05,.tree-thumb06, .tree-thumb07, .tree-thumb08,
.tree-thumb09, .tree-thumb10, .tree-thumb11, .tree-thumb12, .tree-thumb13,.tree-thumb14, .tree-thumb15, .tree-thumb16,
.tree-thumb17, .tree-thumb18, .tree-thumb19, .tree-thumb20, .tree-thumb21,.tree-thumb22, .tree-thumb23, .tree-thumb24,
.tree-thumb25, .tree-thumb26, .tree-thumb27, .tree-thumb28, .tree-thumb29,.tree-thumb30, .tree-thumb31, .tree-thumb32,
.tree-thumb33, .tree-thumb34, .tree-thumb35, .tree-thumb36, .tree-thumb37,.tree-thumb38, .tree-thumb39, .tree-thumb40,
.concrete-thumb01, .concrete-thumb02, .concrete-thumb03, .hardscape-thumb01, .hardscape-thumb02, .hardscape-thumb03, 
.hardscape-thumb04, .hardscape-thumb05, .hardscape-thumb06, .hardscape-thumb07, .hardscape-thumb08, .hardscape-thumb09,
.hardscape-thumb10, .hardscape-thumb11, .hardscape-thumb12, .hardscape-thumb13, .landscape-thumb01, .landscape-thumb02,
.landscape-thumb03, .landscape-thumb04, .landscape-thumb05, .landscape-thumb06, .landscape-thumb07, .landscape-thumb08, 
.landscape-thumb09, .landscape-thumb10, .landscape-thumb11, .landscape-thumb12, .landscape-thumb13, .landscape-thumb14, 
.landscape-thumb15, .landscape-thumb16, .landscape-thumb17, .landscape-thumb18, .landscape-thumb19, .landscape-thumb20, 
.landscape-thumb21, .landscape-thumb22, .landscape-thumb23, .landscape-thumb24, .landscape-thumb25, .lawn-thumb01, 
.lawn-thumb02, .lawn-thumb03, .lawn-thumb04, .lawn-thumb05, .mat-delivery-thumb01, .mat-delivery-thumb02, .mat-delivery-thumb03{
    background-size: 168% !important;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}



/** Concrete Portfolio Thumbnail Images **/
/** New as of 27 April 2016 ***/
.concrete-thumb01 {background: url(../portfolio/images/concrete/concrete_01_thumb.jpg) center;}
.concrete-thumb02 {background: url(../portfolio/images/concrete/concrete_02_thumb.jpg) center;}
.concrete-thumb03 {background: url(../portfolio/images/concrete/concrete_03_thumb.jpg) center;}

/** Hardscape Portfolio Thumbnail Images **/
/** New as of 27 April 2016 ***/
.hardscape-thumb01 {background: url(../portfolio/images/hardscape/hardscape_01_thumb.jpg) center;}
.hardscape-thumb02 {background: url(../portfolio/images/hardscape/hardscape_02_thumb.jpg) center;}
.hardscape-thumb03 {background: url(../portfolio/images/hardscape/hardscape_03_thumb.jpg) center;}
.hardscape-thumb04 {background: url(../portfolio/images/hardscape/hardscape_04_thumb.jpg) center;}
.hardscape-thumb05 {background: url(../portfolio/images/hardscape/hardscape_05_thumb.jpg) center;}
.hardscape-thumb06 {background: url(../portfolio/images/hardscape/hardscape_06_thumb.jpg) center;}
.hardscape-thumb07 {background: url(../portfolio/images/hardscape/hardscape_07_thumb.jpg) center;}
.hardscape-thumb08 {background: url(../portfolio/images/hardscape/hardscape_08_thumb.jpg) center;}
.hardscape-thumb09 {background: url(../portfolio/images/hardscape/hardscape_09_thumb.jpg) center;}
.hardscape-thumb10 {background: url(../portfolio/images/hardscape/hardscape_10_thumb.jpg) center;}
.hardscape-thumb11 {background: url(../portfolio/images/hardscape/hardscape_11_thumb.jpg) center;}
.hardscape-thumb12 {background: url(../portfolio/images/hardscape/hardscape_12_thumb.jpg) center;}
.hardscape-thumb13 {background: url(../portfolio/images/hardscape/hardscape_13_thumb.jpg) center;}

/** Landscape Portfolio Thumbnail Images **/
/** New as of 27 April 2016 ***/
.landscape-thumb01 {background: url(../portfolio/images/landscape/landscape_01_thumb.jpg) center;}
.landscape-thumb02 {background: url(../portfolio/images/landscape/landscape_02_thumb.jpg) center;}
.landscape-thumb03 {background: url(../portfolio/images/landscape/landscape_03_thumb.jpg) center;}
.landscape-thumb04 {background: url(../portfolio/images/landscape/landscape_04_thumb.jpg) center;}
.landscape-thumb05 {background: url(../portfolio/images/landscape/landscape_05_thumb.jpg) center;}
.landscape-thumb06 {background: url(../portfolio/images/landscape/landscape_06_thumb.jpg) center;}
.landscape-thumb07 {background: url(../portfolio/images/landscape/landscape_07_thumb.jpg) center;}
.landscape-thumb08 {background: url(../portfolio/images/landscape/landscape_08_thumb.jpg) center;}
.landscape-thumb09 {background: url(../portfolio/images/landscape/landscape_09_thumb.jpg) center;}
.landscape-thumb10 {background: url(../portfolio/images/landscape/landscape_10_thumb.jpg) center;}
.landscape-thumb11 {background: url(../portfolio/images/landscape/landscape_11_thumb.jpg) center;}
.landscape-thumb12 {background: url(../portfolio/images/landscape/landscape_12_thumb.jpg) center;}
.landscape-thumb13 {background: url(../portfolio/images/landscape/landscape_13_thumb.jpg) center;}
.landscape-thumb14 {background: url(../portfolio/images/landscape/landscape_14_thumb.jpg) center;}
.landscape-thumb15 {background: url(../portfolio/images/landscape/landscape_15_thumb.jpg) center;}
.landscape-thumb16 {background: url(../portfolio/images/landscape/landscape_16_thumb.jpg) center;}
.landscape-thumb17 {background: url(../portfolio/images/landscape/landscape_17_thumb.jpg) center;}
.landscape-thumb18 {background: url(../portfolio/images/landscape/landscape_18_thumb.jpg) center;}
.landscape-thumb19 {background: url(../portfolio/images/landscape/landscape_19_thumb.jpg) center;}
.landscape-thumb20 {background: url(../portfolio/images/landscape/landscape_20_thumb.jpg) center;}
.landscape-thumb21 {background: url(../portfolio/images/landscape/landscape_21_thumb.jpg) center;}
.landscape-thumb22 {background: url(../portfolio/images/landscape/landscape_22_thumb.jpg) center;}
.landscape-thumb23 {background: url(../portfolio/images/landscape/landscape_23_thumb.jpg) center;}
.landscape-thumb24 {background: url(../portfolio/images/landscape/landscape_24_thumb.jpg) center;}
.landscape-thumb25 {background: url(../portfolio/images/landscape/landscape_25_thumb.jpg) center;}

/** Lawn Portfolio Thumbnail Images **/
/** New as of 27 April 2016 ***/
.lawn-thumb01 {background: url(../portfolio/images/lawn/lawn_01_thumb.jpg) center;}
.lawn-thumb02 {background: url(../portfolio/images/lawn/lawn_02_thumb.jpg) center;}
.lawn-thumb03 {background: url(../portfolio/images/lawn/lawn_03_thumb.jpg) center;}
.lawn-thumb04 {background: url(../portfolio/images/lawn/lawn_04_thumb.jpg) center;}
.lawn-thumb05 {background: url(../portfolio/images/lawn/lawn_05_thumb.jpg) center;}
.lawn-thumb06 {background: url(../portfolio/images/lawn/lawn_06_thumb.jpg) center;}

/** Material Delivery Portfolio Thumbnail Images **/
/** New as of 27 April 2016 ***/
.mat-delivery-thumb01 {background: url(../portfolio/images/material_delivery/mat_delivery_01_thumb.jpg) center;}
.mat-delivery-thumb02 {background: url(../portfolio/images/material_delivery/mat_delivery_02_thumb.jpg) center;}
.mat-delivery-thumb03 {background: url(../portfolio/images/material_delivery/mat_delivery_03_thumb.jpg) center;}

/* Parts Used Box - Title BG */
.parts-used-title {
    min-width: 220px;
    position: relative;
    background: #fff;
   z-index: 25;
   margin-top: -20px;
    /*border-top: 2px solid #2ecc71;*/
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

/* Parts Used Title H3 */
.parts-used-title h3 {

    text-align: left !important;
    padding-left: 12px;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 1.1em;
    color: #352E24;
    font-weight: bold;
    font-weight: 700;
    text-transform: uppercase;
}

/*** concrete servicebox ***/
.home-service-concrete {
    background: url(../images/concrete/concrete01a.jpg) !important;
    background-size: 126% !important;
    background-position: center !important;
}

/*** hardscape servicebox ***/
.home-service-hardscape {
    background: url(../images/servicebox-hardscape.jpg) !important;
    background-size: 100% !important;
    background-position: center !important;
}

/*** landscape servicebox ***/
.home-service-landscape {
    background: url(../images/servicebox-landscape.jpg) !important;
    background-size: 100% !important;
    background-position: center !important;
}

/*** landscape design servicebox ***/
.home-service-landscapedesign {
    background: url(../images/servicebox-ldesign.jpg) !important;
    background-size: 100% !important;
    background-position: bottom !important;
}

/*** lawn and turf servicebox ***/
.home-service-lawn {
    background: url(../images/servicebox-lawn.jpg) !important;
    background-size: 100% !important;
    background-position: bottom !important;
}

/*** maintenance servicebox ***/
.home-service-maintenance {
    background: url(../images/servicebox-maintenance.jpg) !important;
    background-size: 100% !important;
    background-position: top !important;
}

/*** material delivery servicebox ***/
.home-service-delivery {
    background: url(../images/servicebox-delivery.jpg) !important;
    background-size: 110% !important;
    background-position: center !important;
}

/*** snow removal servicebox ***/
.home-service-snow {
    background: url(../images/snow-removal.jpg) !important;
    background-size: 145% !important;
    background-position: bottom !important;
}

/*** tree and firewood servicebox ***/
.home-service-tree {
    background: url(../images/servicebox-tree2.jpg) !important;
    background-size: 120% !important;
    background-position: center !important;
}


.tree-port02 {
    background: url(../images/tree_firewood/tree02.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port03 {
    background: url(../images/tree_firewood/tree03.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port04 {
    background: url(../images/tree_firewood/tree04.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port05 {
    background: url(../images/tree_firewood/tree05.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port06 {
    background: url(../images/tree_firewood/tree06.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port07 {
    background: url(../images/tree_firewood/tree07.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port08 {
    background: url(../images/tree_firewood/tree08.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port09 {
    background: url(../images/tree10-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port10 {
    background: url(../images/tree_firewood/tree09.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port11 {
    background: url(../images/tree_firewood/tree-climb01.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port12 {
    background: url(../images/tree_firewood/tree-climb02.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port13 {
    background: url(../images/tree_firewood/tree-climb03.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port14 {
    background: url(../images/tree_firewood/tree-climb04.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port15 {
    background: url(../images/tree_firewood/firewood01.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port16 {
    background: url(../images/tree_firewood/firewood02.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port17 {
    background: url(../images/tree_firewood/firewood03.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port18 {
    background: url(../images/tree_firewood/firewood04.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port19 {
    background: url(../images/tree_firewood/firewood05.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port20 {
    background: url(../images/tree_firewood/firewood06.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port21 {
    background: url(../images/tree_firewood/firewood07.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port22 {
    background: url(../images/tree_firewood/tree10.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port23 {
    background: url(../images/tree_firewood/tree11.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port24 {
    background: url(../images/tree_firewood/tree12.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port25 {
    background: url(../images/tree_firewood/tree13.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port26 {
    background: url(../images/tree_firewood/tree15.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port27 {
    background: url(../images/tree_firewood/tree16.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-port28 {
    background: url(../images/tree_firewood/tree17.jpg) center;
    background-size: 172%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box10:hover, .landscape-design-box11:hover, .landscape-design-box12:hover, .landscape-design-box14:hover, .landscape-design-box15:hover, .landscape-design-box16:hover, .landscape-design-box17:hover, .landscape-design-box18:hover, .landscape-design-box19:hover, .landscape-design-box1:hover, .landscape-design-box20:hover, .landscape-design-box21:hover, .landscape-design-box22:hover, .landscape-design-box23:hover, .landscape-design-box24:hover, .landscape-design-box2:hover, .landscape-design-box3:hover, .landscape-design-box4:hover, .landscape-design-box5:hover, .landscape-design-box6:hover, .landscape-design-box7:hover, .landscape-design-box8:hover, .landscape-design-box9:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box1 {
    background: url(../images/landscape_design/landscape_design15.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box2 {
    background: url(../images/landscape_design/landscape_design02.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box3 {
    background: url(../images/landscape_design/landscape_design03.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box4 {
    background: url(../images/landscape_design/landscape_design04.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box5 {
    background: url(../images/landscape_design/landscape_design05.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box6 {
    background: url(../images/landscape_design/landscape_design06.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box7 {
    background: url(../images/landscape_design/landscape_design07.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box8 {
    background: url(../images/landscape_design/landscape_design08.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box9 {
    background: url(../images/landscape_design/landscape_design09.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box10 {
    background: url(../images/landscape_design/landscape_design10.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box11 {
    background: url(../images/landscape_design/landscape_design11.jpg) center;
    background-size: 182%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box12 {
    background: url(../images/landscape_design/landscape_design12.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box13 {
    background: url(../images/landscape_design/landscape_design13.jpg) top center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box13:hover {
    background-size: 235%!important;
    background-position: bottom center;
}
.landscape-design-box14 {
    background: url(../images/design05-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box15 {
    background: url(../images/design07-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box16 {
    background: url(../images/design10-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box17 {
    background: url(../images/landscape_design/landscape_design14.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box18 {
    background: url(../images/landscape_design/design09-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box19 {
    background: url(../images/landscape_design/design01-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box20 {
    background: url(../images/landscape_design/design02-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box21 {
    background: url(../images/landscape_design/design03-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box22 {
    background: url(../images/landscape_design/design04-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box23 {
    background: url(../images/landscape_design/design06-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-box24 {
    background: url(../images/landscape_design/design08-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port01:hover, .lawn-port02:hover, .lawn-port03:hover, .lawn-port04:hover, .lawn-port05:hover, .lawn-port06:hover, .lawn-port07:hover, .lawn-port08:hover, .lawn-port09:hover, .lawn-port10:hover, .lawn-port11:hover, .lawn-port12:hover, .lawn-port13:hover, .lawn-port14:hover, .lawn-port15:hover, .lawn-port16:hover, .lawn-port17:hover, .lawn-port18:hover, .lawn-port19:hover, .lawn-port20:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port01 {
    background: url(../images/lawn/lawn03.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port02 {
    background: url(../images/lawn/lawn04.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port03 {
    background: url(../images/lawn/lawn05.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port04 {
    background: url(../images/lawn/lawn06.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port05 {
    background: url(../images/lawn/lawn07.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port06 {
    background: url(../images/lawn/lawn08.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port07 {
    background: url(../images/lawn/lawn09.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port08 {
    background: url(../images/lawn/lawn10.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port09 {
    background: url(../images/lawn/lawn11.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port10 {
    background: url(../images/lawn/lawn12.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port11 {
    background: url(../images/lawn/lawn13.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port12 {
    background: url(../images/lawn/lawn14.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port13 {
    background: url(../images/lawn/lawn15.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port14 {
    background: url(../images/lawn/lawn16.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port15 {
    background: url(../images/lawn/lawn17.jpg) center;
    background-size: 275%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port16 {
    background: url(../images/landscape34-c.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port17 {
    background: url(../images/lawn/lawn18.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port18 {
    background: url(../images/lawn/lawn19.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port19 {
    background: url(../images/lawn/lawn20.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-port20 {
    background: url(../images/lawn/lawn21.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port01 {
    background: url(../images/material/material01.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port01:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port02 {
    background: url(../images/material/material02.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port02:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port03 {
    background: url(../images/material/material03.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port03:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port04 {
    background: url(../images/material/material04.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port04:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port05 {
    background: url(../images/material/material05.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port05:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port06 {
    background: url(../images/material/material06.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port06:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port07 {
    background: url(../images/material/material07.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port07:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port08 {
    background: url(../images/material/material08.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port08:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port09 {
    background: url(../images/material/material09.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port09:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port10 {
    background: url(../images/material/material10.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port10:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port11 {
    background: url(../images/material/material11.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port11:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port12 {
    background: url(../images/material/material12.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port12:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port13 {
    background: url(../images/material/material13.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port13:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port14 {
    background: url(../images/material/material14.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port14:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port15 {
    background: url(../images/material/material15.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port15:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port16 {
    background: url(../images/material/material16.jpg) center;
    background-size: 185%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.material-port16:hover {
    background-size: 205%!important;
    background-position: center;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}

.portfolio-box {
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
}
.featured-prop-main {
    background: url(../images/featured/featured21-c.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-main {
    background: url(../images/landscape/landscape-port10.jpg) center;
    background-size: 122%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.concrete-main {
    background: url(../images/concrete/concrete01a.jpg) center;
    background-size: 126%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.hardscape-main {
    background: url(../images/hardscape05a.jpg) center;
    background-size: 158%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.landscape-design-main {
    background: url(../images/landscape_design/design01.jpg) center;
    background-size: 158%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.lawn-main {
    background: url(../images/lawn/lawn02.jpg) center;
    background-size: 118%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.delivery-main {
    background: url(../images/delivery.jpg) center;
    background-size: 152%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}
.tree-main {
    background: url(../images/tree_firewood/tree-climb05.jpg) center;
    background-size: 102%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
}

.hardscape-header {
    background-image: url(../portfolio/images/hardscape/hardscape_header.jpg)!important;
    background-position: center!important;

    background-size: cover;
position: relative !important;
    height: 40vh !important;
    margin-left: -1px;
}

.landscape-header {
    background-image: url(../portfolio/images/landscape/landscape_header.jpg)!important;
    background-position: center!important;

    background-size: cover;
position: relative !important;
    height: 40vh !important;
    margin-left: -1px;
}
.landscape-header2 {
    background: url(../images/portfolio-landscape-header.jpg) top top no-repeat fixed;
    background-size: 150%;
    height: 375px;
    width: 100%;
    margin-top: -20px;
    text-align: center;
    position: relative;
    margin-left: -1px;
}
.landscape-design-header {
    background-image: url(../images/landscape-design-header.jpg)!important;
    background-position: center!important;

    background-size: cover;
position: relative !important;
    height: 40vh !important;}
.lawn-header {
    background-image: url(../portfolio/images/lawn/lawn_header.jpg)!important;
    background-position: center!important;
    background-size: cover;
position: relative !important;
    height: 40vh !important;
    margin-left: -1px;
}
.maintenance-header {
    background-image: url(../images/maintenance.jpg)!important;
    background-position: center!important;
    background-size: cover;
position: relative !important;
    height: 40vh !important;}
.delivery-header {
    background-image: url(../portfolio/images/material_delivery/mat_delivery_header.jpg)!important;
    background-position: center!important;
    background-size: cover;
position: relative !important;
    height: 40vh !important;
    margin-left: -1px;
}
.snow-header {
    background-image: url(../portfolio/images/snow/snow_header.jpg)!important;
    background-position: center!important;
    background-size: cover;}
.contact-header {
    background-image: url(../images/contact-header.jpg)!important;
    background-position: center!important;
    background-size: cover;

position: relative !important;
    height: 40vh !important;}
.portfolio-header {
    background-image: url(../images/portfolio_header.jpg)!important;
    background-position: center!important;
    background-size: cover;
position: relative !important;
    height: 40vh !important;
    margin-left: -1px;
}
.tree-header {
    background-image: url(../portfolio/images/tree_service/tree_service_header.jpg)!important;
    background-position: center!important;
    background-size: cover;
position: relative !important;
    height: 40vh !important;}
.featured-header {
    background-image: url(../images/featured-header.jpg)!important;
    background-position: center!important;
    background-size: cover;
position: relative !important;
    height: 40vh !important;}

    .subpage-title-fix {
        padding-top: 5%;
    }
.subpage-title {
    text-align: left !important;
    color: #F5F5F5 !important;
    font-family: 'Norican', Helvetica, Sans-serif;
    font-size: 5em;
    text-transform: initial;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 1)
}

.about-header {
    background-image: url(../images/about.jpg)!important;
    background-position: center!important;
    background-size: cover;
    position: relative !important;
    height: 40vh !important;
}
.about-header2{
    background-image: url(../images/crew_header_02.jpg)!important;
    background-position: center!important;
    background-size: cover;
    position: relative !important;
    height: 40vh !important;
    margin-left: -1px;
}
.concrete-header {
    background-image: url(../images/concrete-header.jpg)!important;
    background-position: center!important;
    background-size: cover;
    position: relative !important;
}